<!DOCTYPE html>
<html>
    <head>

    </head>
    <body bgcolor="#FFFFFF">
    <h1>
    <font color="#0000FF">
    <p align="center">
        About
    </p>
    </font>
    </h1>
        <hr>
        <h2><p>My name is <b>Ashif Eqbal</b></h2>
        
        <p>
        <h2><b>Description of the Website:</b></p></h2>
      <p>
          This website gives you the word count of the sentence you input. Thats Simple!
          Copyright 2020
      </p>
      <a href="{% url 'home' %}">Home</a>
    </body>
</html>
</html>